pre {
  white-space: pre-wrap;
  font-family: inherit;
}
h1 {
  font-size: 150%;
  margin-top: -10px;
}
h2 {
  font-size: 100%;
}
.derecha {
  text-align: right;
}
.justificar {
  text-align: justify;
}
.pad025 {
  margin-left: 0.25in;
}
.pad075 {
  margin-left: 0.75in;
}
.pad1 {
  margin-left: 1in;
  margin-top: .3cm;
  margin-bottom: .3cm;
}
.contenido {
  background-color:rgb(255, 255, 255);
  padding: 5%;
  margin: 0 auto;
  width: 40%;
}
.containerImage1 {
  background-image: url('https://giffiles.alphacoders.com/209/209750.gif'), url('https://giffiles.alphacoders.com/209/209750.gif'); 
  background-position: top left , top right;
  background-repeat: repeat-y, repeat-y;
  background-size: 25%;
  background-color: black;
  margin:-10px;
}